*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    text-align: center;
    background-color: bisque;
    color: black;
}

li{
    list-style: none;
}

#container{
    width: 290px;
    text-align: center;
    height: auto;
    margin: 4px auto;
}

#calculadora{
    width: 243px;
    height: 230px;
    margin: 0 auto;
    padding: 2px;
    background-color: #65d277;
}
.input-valor{
    margin: 8px auto;
    width: 95%;
    height: 30px;
    font-size: 16px;
    overflow: hidden;
    text-align: right;
    color: #48484d;
    padding: 4px;
    background-color: #fff;
    box-shadow: inset -1px -1px 4px 1px #eee ;
}
.key li{
    width: 50px;
    height: 30px;
    border-radius: 3px;
    color: #fff;
    background-color: #6c73fa;
    cursor: pointer;
    float: left;
    margin: 0px -3px 5px 8px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 3px 1px 0px;
}